<%- include('../partials/header') %>

<h1>Sunscreen Shelf</h1>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>SPF</th>
      <th>Price</th>
      <th>Notes</th>
      <th>Like?</th>
    </tr>
  </thead>
  <tbody>
    <% sunscreens.forEach(function(s) { %>
    <tr>
      <td>
        <a href="/sunscreens/<%= s.id %>">
          <%= s.brand %>
        </a>
      </td>
      <td><%= s.SPF %></td>
      <td><%= s.price %></td>
      <td><%= s.notes.join(', ') %></td>
      <td><%= s.like ? 'Yes' : 'No' %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../partials/footer') %>
