<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>GLOW</title>
</head>
<body>
  <h1>Sunscreen Shelf</h1>
  <table>
      <thead>
          <tr>
              <th>SPF</th>
              <th>Brand</th>
              <th>Price</th>
              <th>Notes</th>
              <th>Like?</th>
          </tr>
      </thead>
      <tbody>
          <% sunscreens.forEach(function(s) { %>
              <tr>
                  <td><%= s.SPF %></td>
                  <td><%= s.brand %></td>
                  <td><%= s.price %></td>
                  <td><%= s.notes.join(', ') %></td>
                  <td><%= s.like ? 'Yes' : 'No' %></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</body>
</html>